<div fxLayout="row" fxLayoutAlign="start none">
  <mat-card fxFlex class="cw-card-layout" class="vehicleCard">
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.registration"
               type="text"
               required
               placeholder="Rekisterinumero">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.mark"
               type="text"
               required
               placeholder="Merkki">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.acquisitionDay"
               type="date"
               required
               placeholder="Ostopäivä">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.prise"
               type="number"
               required
               placeholder="Hinta">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.resaleValue"
               type="number"
               required
               placeholder="Jälleenmyyntiarvo">
      </mat-form-field>
      <button mat-raised-button color="accent" matTooltip="Tallenna" (click)="onSave()"> <mat-icon>save</mat-icon></button>
    </div>
  </mat-card>

</div>



