<div fxLayout="row" fxLayoutAlign="start none">
  <mat-card fxFlex class="cw-card-layout" class="vehicleCard">
    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.registration"
               type="text"
               required
               placeholder="Rekisterinumero">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.mark"
               type="text"
               required
               placeholder="Merkki">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.acquisitionDay"
               type="text"
               required
               placeholder="Ostopäivä">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput [(ngModel)]="vehicle.prise"
               type="text"
               required
               placeholder="Hinta">
      </mat-form-field>
      <button mat-raised-button color="accent" matTooltip="Tallenna ajoneuvon tiedot" (click)="onSave()">Tallenna</button>
    </div>
  </mat-card>

  <mat-card fxFlex class="vehicleCard">
    <mat-card-title>Menot yhteensä</mat-card-title>
    <p>Kilometrit: {{kilometersTotal}}</p>
    <p>Polttoaine: {{fuelTotal}}</p>
    <p>Huolto: {{serviceTotal}}</p>
    <p>Varaosat: {{partsTotal}}</p>
    <p>Vakuutukset: {{insuranceTotal}}</p>
    <p>Verot: {{taxTotal}}</p>
  </mat-card>
</div>
  <app-payment-list></app-payment-list>



