table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.buttonCreatePayment{
  float:right;
  margin: 10px;
}
.pay-card {
  padding-left: 24px;
}
.chart-card {
  width: 100%;
height: 300px;
}
